@use '@carbon/react' with (
  $use-flexbox-grid: true
);

/// Remove overrides once Carbon bugs are fixed upstream.
/// Need grid option to not add page gutters at large viewports, to also use when nesting grids
/// @link https://github.com/carbon-design-system/carbon/issues/2792
@media (min-width: 42rem) {
  .cds--grid--no-gutter {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/// Padding was introduced in 10.3.0, needs an option to let grid set the viewport gutter
/// @link https://github.com/carbon-design-system/carbon/issues/3010
.cds--content {
  margin-top: 3rem;
  background: var(--cds-background);
}

.header {
  display: flex;
  flex-wrap: wrap;
  .image {
    display: flex;
    flex: 1 1 auto;
    Image {
      align-self: center;
    }
  }
  .title {
    flex: 1 1 auto;
    margin-top: auto;
    margin-bottom: 16px;
    text-align: right;
  }
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  div {
    flex-shrink: 0;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.field-margin {
  margin-top: 40px;
  margin-bottom: 16px;
}

.button-margin {
  margin-top: 32px;
  margin-bottom: 32px;
}